// $Id$ Custom variables for the Raspberry theme option of the FiveAlive and FiveAlive-lite themes

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //
$white:    #fff;
$black:    #000;
$light: #e10c7c;
//$primary: #e10c7c;

$bg-light: #e10c7c !important;

$link-color: #b51360;
$link-hover-color: #e10c7c;

$navbar-dark-color:                 rgba($white, .75);
$navbar-dark-hover-color:           rgba($white, .85);
$navbar-dark-active-color:          $white;
$navbar-dark-disabled-color:        rgba($white, .25);
$navbar-light-color:                rgba($black, .5);
$navbar-light-hover-color:          rgba($black, .7);
$navbar-light-active-color:         rgba($black, .9);
$navbar-light-disabled-color:       rgba($black, .3);

// navbar link hover colors
$bg-dark-link-hover-color: #f2f2f2;
$bg-dark-link-hover-bg: #003c4a;


$hr-border-color: #e10c7c;

$navbar-fixed-top-bg: #b50964;
//$bg-dark: #b50964;
//$bg-light: #e60b7f;
$card-border-color: #e60b7f;

$table-border-color: #f459ab;
$table-accent-bg: #f9f9f9;
$table-hover-bg: #f5f5f5;

$input-color: #555555;
$input-bg: #f9dcec;
$input-border-color: #fa9ccd;
$input-border-top-color: #fa9ccd;
$input-border-right-color: #fcf6f9;
$input-border-bottom-color: #fcf6f9;
$input-border-left-color: #fa9ccd;

$dropdown-bg: #771437;
$dropdown-border-color: rgba(0, 0, 0, 0.15);

$dropdown-link-color: #ffffff;
$dropdown-link-hover-color: #f2f2f2;
$dropdown-link-hover-bg: #61102d;
$dropdown-link-active-color: #f2f2f2;
$dropdown-link-active-bg: #e60b7f;
$dropdown-link-disabled-color: #f2f2f2;
$dropdown-header-color: #ffffff;
$dropdown-divider-bg: $dropdown-bg;

$nav-tabs-link-color: #000;
$nav-tabs-link-bg: $input-bg;
$nav-tabs-link-active-color: #fff;
$nav-tabs-link-active-bg: $dropdown-link-hover-bg;

$nav-pills-link-active-bg: #b51360;
$pagination-color: #b51360;
$pagination-bg: #ffffff;
$pagination-border-color: #dddddd;
$pagination-hover-color: #e10c7c;
$pagination-hover-bg: #eeeeee;
$pagination-hover-border-color: #dddddd;
$pagination-active-bg: #b51360;
$pagination-active-border-color: #b51360;
$pagination-disabled-color: #999999;
$pagination-disabled-bg: #ffffff;
$pagination-disabled-border-color: #dddddd;


// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //
//$bg-light-alt: #117485 !important;

$side-column-heading-color: #e60b7f;

$middle_outer-inset-shadow-bg: #35061d;
$footer_liner-card-inner-border: #eb0a82;

$footer-accent-color: #eb0a82;
$footer-btn-secondary-color: #f4f4f4;
$footer_liner-border-color: $footer-accent-color;

$autotoc-nav-bg: #771437;
$autotoc-color: #ffffff;
$autotoc-nav-link-hover-color: #f2f2f2;
$autotoc-nav-link-hover-bg: #61102d;

// - - - - - - - - - -  - - - - - - Other CSS, if any - - - - - - - - - - - - - - - - - //

.header_outer,
.layout_basic #top_modules,
.postbody-title,
.tiki > .navbar.fixed-top.bg-light/*,
.tiki > .fixed-top.bg-light*/ {
}

$chosen-container-multi-choices-bg: $input-bg;
$chosen-container-multi-choices-color: $input-color;
$chosen-container-multi-choices-border: #fa9ccd;
$chosen-container-single-bg: #f9dcec;
$chosen-container-single-color: #555555;
$chosen-container-single-border: #fa9ccd;
$chosen-container-single-input-bg: #f9dcec;
$chosen-container-single-input-border: #fa9ccd;
$chosen-container-chosen-results-li-highlighted-bg: #61102d;
$chosen-container-chosen-results-li-highlighted-color: #f2f2f2;
$autotoc-nav-bg: #ffffff;
$autotoc-nav-border: #e60b7f;
$autotoc-color: #b51360;
$autotoc-nav-li-link-hover-color: #f2f2f2;
$autotoc-nav-li-link-hover-bg: #61102d;
$middle_outer-inset-shadow-bg: #e60b7f;