// $Id$ Custom variables for the Lemon theme option of the FiveAlive and FiveAlive-lite themes

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //
$white:    #fff;
$black:    #000;
$light: #f9a013;

$bg-light: #f9a013 !important;

$link-color: #c75a28;
$link-hover-color: #f9a013;

$navbar-dark-color:                 rgba($white, .75);
$navbar-dark-hover-color:           rgba($white, .85);
$navbar-dark-active-color:          $white;
$navbar-dark-disabled-color:        rgba($white, .25);
$navbar-light-color:                rgba($black, .5);
$navbar-light-hover-color:          rgba($black, .7);
$navbar-light-active-color:         rgba($black, .9);
$navbar-light-disabled-color:       rgba($black, .3);

// navbar link hover colors
$bg-dark-link-hover-color: #f2f2f2;
//$bg-dark-link-hover-bg: #638637;

$hr-border-color: #ffc506;

$navbar-fixed-top-bg: #e4af00;
//$bg-dark: #cb9e10;
//$bg-light: #cb9e10;
$card-border-color: #e4af00;
$table-border-color: #a99628;
$table-accent-bg: #f9f9f9;
$table-hover-bg: #f5f5f5;

$input-color: #555555;
$input-bg: #fdf1d0;
$input-border-color: #fee194;
$input-border-top-color: #ceb688;
$input-border-right-color: #fff;
$input-border-bottom-color: #fff;
$input-border-left-color: #ceb688;

$dropdown-bg: #c75a29;
$dropdown-border-color: rgba(0, 0, 0, 0.15);

$dropdown-link-color: #ffffff;
$dropdown-link-hover-color: #f2f2f2;
$dropdown-link-hover-bg: #b25025;
$dropdown-link-active-color: #ffffff;
$dropdown-link-active-bg: #c75a28;
$dropdown-link-disabled-color: #f2f2f2;
$dropdown-header-color: #ffffff;
$dropdown-divider-bg: $dropdown-bg;

$nav-tabs-link-color: #000;
$nav-tabs-link-bg: $input-bg;
$nav-tabs-link-active-color: #fff;
$nav-tabs-link-active-bg: $dropdown-link-hover-bg;


$nav-pills-link-active-bg: #c75a28;
$pagination-color: #c75a28;
$pagination-bg: #ffffff;
$pagination-border-color: #dddddd;
$pagination-hover-color: #f9a013;
$pagination-hover-bg: #eeeeee;
$pagination-hover-border-color: #dddddd;
$pagination-active-bg: #c75a28;
$pagination-active-border-color: #c75a28;
$pagination-disabled-color: #999999;
$pagination-disabled-bg: #ffffff;
$pagination-disabled-border-color: #dddddd;


// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //
$bg-light-alt: #ffc506 !important;

$side-column-heading-color: #e4af00;

$middle_outer-inset-shadow-bg: #2c1c04;
$footer_liner-card-inner-border: #ffc506;

$footer-accent-color: #ffc506;
$footer-btn-secondary-color: #f4f4f4;
$footer_liner-border-color: $footer-accent-color;

$autotoc-nav-bg: #c75a29;
$autotoc-color: #ffffff;
$autotoc-nav-link-hover-color: #f2f2f2;
$autotoc-nav-link-hover-bg: #b25025;

// - - - - - - - - - -  - - - - - - Other CSS, if any - - - - - - - - - - - - - - - - - //

.header_outer,
.layout_basic #top_modules,
.postbody-title,
.tiki > .navbar.fixed-top.bg-light/*,
.tiki > .fixed-top.bg-light*/ {
}

$chosen-container-multi-choices-bg: $input-bg;
$chosen-container-multi-choices-color: $input-color;
$chosen-container-multi-choices-border: #fee194;
$chosen-container-single-bg: #fdf1d0;
$chosen-container-single-color: #555555;
$chosen-container-single-border: #fee194;
$chosen-container-single-input-bg: #fdf1d0;
$chosen-container-single-input-border: #fee194;
$chosen-container-chosen-results-li-highlighted-bg: #b25025;
$chosen-container-chosen-results-li-highlighted-color: #f2f2f2;
$autotoc-nav-bg: #ffffff;
$autotoc-nav-border: #ffc506;
$autotoc-color: #c75a28;
$autotoc-nav-li-link-hover-color: #f2f2f2;
$autotoc-nav-li-link-hover-bg: #b25025;
$middle_outer-inset-shadow-bg: #cb9e10;